<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @observation.descricao %>
</p>

<p>
  <strong>Content:</strong>
  <%= @observation.content %>
</p>

<%= link_to 'Edit', edit_observation_path(@observation) %> |
<%= link_to 'Back', observations_path %>
