<h2>Alterar sua senha</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
  <%= devise_error_messages! %>
</div>

  <%= f.hidden_field :reset_password_token %>

<div class="row">
  <div class="col-md-2">    
   <label class="field">Nova senha</label>
   <%= f.password_field :password,:class => "form-control input-md",:maxlength => 150,autofocus: true, autocomplete: "off" %> 
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-2">    
   <label class="field">Confirmar nova senha</label>
   <%= f.password_field :password_confirmation,:class => "form-control input-md",:maxlength => 150,autofocus: true, autocomplete: "off" %> 
  </div>
</div>

<br>

 <div class="actions">
    <%= f.submit "Alterar senha",:class =>"btn btn-info" %>
  </div>
<% end %>


