<h2>Enviar senha</h2>

<%= form_for user_send_pass do |f| %>
  

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Enviar instruções de redefinição de senha" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
