<h3 class="section">
	<%= @customer.razao %>
</h3>

<% if @customer.id_emp.present? %>
	<h5 class="section">Código Cliente: <%= @customer.id_emp %></h5>
<% end %>

<h5 class="section">Grupo: <%= @customer.group.name %></h5>

<% if @customer.logradouro.present? or @customer.municipio.present? %>
	<i class='glyphicon glyphicon-home'></i>
	<label class="fields-show-view"><%= @customer.address %> <%= @customer.get_cep%></label>
	<br>
<% end %>

<% if @customer.celular.present? or @customer.celular2.present?%>
	<i class='glyphicon glyphicon-phone'></i>
	<label class="fields-show-view"><%= @customer.mobilephone_numbers %></label>
<% end %>

<% if @customer.telefone.present? or @customer.telefone2.present? or @customer.telefone3.present? %>
	<i class='glyphicon glyphicon-phone-alt'></i>
	<label class="fields-show-view"><%= @customer.phone_numbers %></label>
	<label class="fields-show-view"><%= @customer.contatos %></label>
	<br>
<% end %>

<% if @customer.email.present? or @customer.email2.present? %>
	<i class='glyphicon glyphicon-envelope'></i>
	<label class="fields-show-view"><%= @customer.mail %></label>
	<br>
<% end %>
<br>
<% if @customer.endereco_coleta.present? %>
	<label class="th-field">Endereço coleta:</label> <label class="fields-show-view"><%= @customer.endereco_coleta %></label>
	<br>
<% end %>

<% if @customer.desde.present? %>
	<label class="th-field">Cliente desde:</label> <label class="fields-show-view"><%= @customer.since %> <k class="desde-small">(<%= @customer.howtime %>)</k></label>
	<br>
<% end %>

<br/>

<table class="table table-bordered table-striped table-sm">
	
	<th class="th-field">Regime SRF</th>
	<th class="th-field" colspan="2">Regime SEFAZ</th>
	<th class="th-field">Orgão</th>	
	<tr>
		<td>
			<label class="fields-show-view">
				<%= @customer.srf if @customer.srf.present? %>
			</label>
		</td>
		<td colspan="2">
			<label class="fields-show-view">
				<%= @customer.sefaz if @customer.sefaz.present? %>
			</label>
		</td>		
		<td>
			<label class="fields-show-view">
				<%= @customer.orgao if @customer.orgao.present? %>
			</label>
		</td>
	</tr>

	<th class="th-field">CPF</th>
	<th class="th-field">e-CPF</th>
	<th class="th-field">CNPJ</th>
	<th class="th-field">e-CNPJ</th>
	<tr>
		<td>
			<label class="fields-show-view">
				<%= @customer.cpf if @customer.cpf.present? %>
			</label>
		</td>
		<td>
			<label class="fields-show-view">
				<%= @customer.e_cpf if @customer.e_cpf.present? %>
			</label>
		</td>
		<td>
			<label class="fields-show-view">
				<%= @customer.get_cnpj%>
			</label>
		</td>
		<td>
			<label class="fields-show-view">
				<%= @customer.e_cnpj if @customer.e_cnpj.present? %>
			</label>
		</td>
	</tr>	

	<th class="th-field">CGF</th>
	<th class="th-field">CEI</th>
	<th class="th-field">ISS</th>	
	<th class="th-field">Senha ISS</th>	
	<tr>
		<td>
			<label class="fields-show-view">
				<%= @customer.cgf if @customer.cgf.present? %>
			</label>
		</td>			
		<td>
			<label class="fields-show-view">
				<%= @customer.cei if @customer.cei.present? %>
			</label>
		</td>
		<td>
			<label class="fields-show-view">
				<%= @customer.iss if @customer.iss.present? %>
			</label>
		</td>
		<td colspan="3">
			<label class="fields-show-view">
				<%= @customer.senha_iss if @customer.senha_iss.present? %>
			</label>
		</td>
	</tr>	

<% if current_user.admin? %>
	<th class="th-field" colspan="3">Código acesso</th>
	<th class="th-field">% honorários</th>	
	<tr>
		<td colspan="3">
			<label class="fields-show-view">
				<%= @customer.cod if @customer.cod.present? %>
			</label>
		</td>	
		<td>
			<label class="fields-show-view">
				<%= number_to_percentage(@customer.honorarios, precision: 3) if @customer.honorarios.present? %>
			</label>
		</td>		
	</tr>

<% else %>

	<th class="th-field">Código acesso</th>		
	<tr>
		<td>
			<label class="fields-show-view">
				<%= @customer.cod if @customer.cod.present? %>
			</label>
		</td>		
	</tr>
<% end %>	
</table>

<br>



