
  <div class="row">
  <div class="col-sm-12">
    <center><h1 class="section">Relatório Clientes</h1></center>
  </div>
  </div>
  <div class="row">    
      <div class="pull-right">  
        <div class="col-md-4 navbar-form">    
            <%= render "sort" %>
        </div>
        
        <div class="col-sm-4 pull-right navbar-form">    
            <%= render "search_report" %>
        </div>
      </div>        
  </div>    
</div>

<div class="pull-right">
<%= link_to print_report_customers_path(:format => :pdf,:active => params[:active], :decimo3 => params[:decimo3],:type_search => params[:type_search],:search => params[:search],:sort => params[:sort],:order => params[:order]),:alt => 'Gerar Relatório em PDF', :target => '_blank' do %>
  <i class="fas fa-file-pdf fa-lg"></i>
<% end %>
</div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>

    </tr>
    </thead>
    <tbody id="customers">
      <%= render "report" %>
    </tbody>
    <tbody>
      <th colspan="7"></th>      
    </tbody>
    
  </table>

  <%= render 'dialog' %>

